<!DOCTYPE html>
<html>

<style type="text/css">
 
body {
	font-family: "verdana";
	color: #333;
	background-color: #efefef;
}
 
</style>

<body bgcolor="#ffffff">
	<br />
	<table width="600" border="0" cellspacing="0" align="center"
		bgcolor="#FFFFFF">
		<tr>
			<td><table width="600" border="0" cellspacing="0"
					cellpadding="0">
					<tr style="width: 600">
						<td
							style="width: 600; background: #012e4f; padding: 20px; text-align: center;">
							<a href="https://rewardthefan.com" target="_blank"> 
							<img src="http://ec2-13-232-72-237.ap-south-1.compute.amazonaws.com:8080/resources/app-assets/images/logo/ziel%20india_1.png" 
							style="height: 150px;" alt="logo" />
						</a>
						</td>
					</tr>
					<tr style="width: 600">
						<td
							style="border-right: 1px solid #012e4f; border-left: 1px solid #012e4f; text-align: center; width: 100%; width: 600; padding: 20px 40px; color: #012e4f; font-size: 20px;">
							<h3
								style="color: #012e4f; text-align: center; font-size: 32px; margin: 10px 0; text-transform: uppercase;">Welcome</h3>
							<p style="font-size: 20px; text-align: center; width: 100%;">
								You have successfully registered with Reward the Fan.</p>
							<p style="font-size: 20px; text-align: center; width: 100%;">
								User Name: <span style="color: #012e4f;"> ${userName} </span>
							</p>
						</td>
					</tr>
					<tr style="width: 600">
						<td align="center"
							style="width: 600; border-right: 1px solid #012e4f; border-left: 1px solid #012e4f; border-bottom: 1px solid #012e4f;">
							<p
								style="color: #012e4f; margin: 0px 0px 20px; font-weight: bold; font-size: 20px;">
								USE THIS CODE FOR 25% OFF:</p> <span
							style="width: 100%; float: left; margin-bottom: 28px; color: #012e4f; text-align: center; font-size: 21px;">
								${promotionalCode} </span> <br>

							<p
								style="color: #012e4f; margin: 0px 0px 20px; font-weight: bold; font-size: 15px;">
								Offer expires on September 30, 2017</p>

							<p style="padding: 20px 70px; font-size: 22px;">
								<a
									style="border: 11px solid #f0c14b; font-weight: bold; background-color: #f0c14b; color: #012e4f; font-size: 20px; text-decoration: none; align: center;"
									href="https://rewardthefan.com" target="_blank"> Find
									Tickets </a><br />
							</p>
						</td>
					</tr>
				</table></td>
		</tr>
	</table>
	<br />
	<table align="center" width="600" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="600" bgcolor="#012e4f" align="center">
				<p>
					<font size="+2" color="#FFFFFF">Ziel India Inventory Management Services
					</font><br />
				</p>
			</td>
		</tr>
	</table>
</body>
</html>